# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/
.env/

# Docker
docker-compose*.yml
Dockerfile

# Database files
*.sqlite3
*.db
*.db-journal

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
